<main class="container-fluid">
  <div class="row">
    <div class="col-md-12 mx-auto my-5">
      <h1 class="text-center">Codename Salmon</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3 mx-auto my-3">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>
            <h4 class="h4-responsive">Magazyn</h4>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, quas maxime! Neque iusto nisi id possimus, veritatis quam
            aliquid soluta. Ullam ducimus nisi, quia corporis nesciunt ad nemo necessitatibus possimus?
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/warehouse">Magazyn</button>
        </mat-card-actions>
      </mat-card>
    </div>
  
    <div class="col-md-3 mx-auto my-3">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>
            <h4 class="h4-responsive">Dokumenty</h4>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, quas maxime! Neque iusto nisi id possimus, veritatis quam
            aliquid soluta. Ullam ducimus nisi, quia corporis nesciunt ad nemo necessitatibus possimus?
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/">Dokumenty</button>
        </mat-card-actions>
      </mat-card>
    </div>
  
    <div class="col-md-3 mx-auto my-3">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>
            <h4 class="h4-responsive">Ustawienia</h4>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, quas maxime! Neque iusto nisi id possimus, veritatis quam
            aliquid soluta. Ullam ducimus nisi, quia corporis nesciunt ad nemo necessitatibus possimus?
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/">Ustawienia</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  
</main>
