<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto my-5">
      <mat-card>
        <form class="example-form">
          <div class="row">
            <div class="col-md-6 mx-auto my-5">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Nazwa produktu" value="Sushi">
              </mat-form-field>
            </div>
            <div class="col-md-6 mx-auto my-5">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Producent" value="Sushi">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mx-auto my-5">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Cena zakupowa (netto)" value="Sushi">
              </mat-form-field>
            </div>
            <div class="col-md-6 mx-auto my-5">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Cena sprzedażowa (netto)" value="Sushi">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mx-auto my-5">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Kategoria - zmenić na select" value="Sushi">
              </mat-form-field>
            </div>
            <div class="col-md-6 mx-auto my-5">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Magazyn jako  select" value="Sushi">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
              <div class="col-md-6 mx-auto my-5">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Marka samochodu jako multiple select" value="Sushi">
                </mat-form-field>
              </div>
              <div class="col-md-6 mx-auto my-5">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Podkategoria jako select po zaznaczeniu checkboxa" value="Sushi">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
                <div class="col-md-6 mx-auto my-5">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Opis produktu textarea" value="Sushi">
                  </mat-form-field>
                </div>
                <div class="col-md-6 mx-auto my-5">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Sektor magazynu jako select" value="Sushi">
                  </mat-form-field>
                </div>
              </div>
        </form>
        <div class="row">
          <div class="col-md-6 mx-auto my-5">
              <button mat-button>Dodaj</button>
              <button mat-button>Czyść formularz</button>
              <button mat-raised-button color="warn">Anuluj</button>

          </div>
        </div>


      </mat-card>
    </div>
  </div>
</div>
