<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto my-5">
      <mat-card>
        <form class="example-form">
          <div class="row">
            <div class="col-md-6 mx-auto my-5">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Nazwa produktu">
              </mat-form-field>
            </div>
            <div class="col-md-6 mx-auto my-5">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Producent">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mx-auto my-5">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Cena zakupowa (netto)">
              </mat-form-field>
            </div>
            <div class="col-md-6 mx-auto my-5">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Cena sprzedażowa (netto)">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mx-auto my-5">
              <mat-form-field class="example-full-width">
                <mat-select placeholder="Kategoria">
                  <mat-option *ngFor="let food of foods">
                    {{ food.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6 mx-auto my-5">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Magazyn jako  select">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
              <div class="col-md-6 mx-auto my-5">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Marka samochodu jako multiple select">
                </mat-form-field>
              </div>
              <div class="col-md-6 mx-auto my-5">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Podkategoria jako select po zaznaczeniu checkboxa">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
                <div class="col-md-6 mx-auto my-5">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Opis produktu textarea">
                  </mat-form-field>
                </div>
                <div class="col-md-6 mx-auto my-5">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Sektor magazynu jako select" value="Sushi">
                  </mat-form-field>
                </div>
              </div>
        </form>
        <div class="row">
          <div class="col-md-6 mx-auto my-5">
              <button mat-button>Dodaj</button>
              <button mat-button>Czyść formularz</button>
              <button mat-raised-button color="warn">Anuluj</button>

          </div>
        </div>


      </mat-card>
    </div>
  </div>
</div>
